# Environment
.env

# Database
db/airbnb.db
db/occupancy_model.pkl

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
venv/
.venv/
env/
.env/

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
